<div>
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
      <ng-container *ngFor="let validation of validationMessages['email']">
        <div
          *ngIf="
            loginForm.get('email')?.hasError(validation.type) &&
            loginForm.get('email')?.touched
          "
        >
          <small>{{ validation.message }}</small>
        </div>
      </ng-container>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
      <ng-container *ngfor="let validation of validationMessages['password']">
        <div
          *ngIf="
            loginForm.get('password')?.hasError(validation.type) &&
            loginForm.get('password')?.touched
          "
        >
          <small>{{ validation.message }}</small>
        </div>
      </ng-container>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Register</button>
  </form>
  <p>
    Don't have an account?
    <a [routerLink]="['/register']" routerLinkActive="router-link-active"
      >Register</a
    >
  </p>
</div>
